  <script src="{{ 'vendor/assets/js/jquery.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ 'vendor/assets/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ 'vendor/assets/js/highlight.js' | prepend: site.baseurl }}"></script>
  <script src="{{ 'vendor/assets/js/retina.js' | prepend: site.baseurl }}"></script>
  <script src="{{ 'assets/js/bootstragram.js' | prepend: site.baseurl }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  {% if page.javascript %}
  <script src="{{ site.baseurl }}assets/js/{{ page.javascript}}"></script>
  {% endif %}

  <script>
  var _gaq=[['_setAccount','UA-37299595-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>
