<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }} - Bootstragram</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="{{ 'vendor/assets/css/bootstragram.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ 'vendor/assets/css/font-awesome.min.css' | prepend: site.baseurl }}">

  <script type="text/javascript" src="//use.typekit.net/riw5vai.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
