<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bootstragram-menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span>
          <i id="nav-button-icon" class="fa fa-bars fa-lg"></i>
        </span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="{{ 'vendor/assets/images/logo-pixels-1.png' | prepend: site.baseurl }}">
      </a>
    </div><!-- navbar header including brand and mobile menu -->
    <div id="bootstragram-menu-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/Bootstragram/"><i class="fa fa-github fa-2x"></i></a></li>
        <li><a href="https://twitter.com/bootstragram/"><i class="fa fa-twitter fa-2x"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
