/***
    With help from http://kaikkonendesign.fi/typography/
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "source-sans-pro", sans-serif;
}
body {
  line-height: 1.4em;
  color: #444444;
  font-family: "calluna", serif;
  font-size: 1.2em;
  background-color: #fafafa;
  padding-top: 60px;
  position: relative;
}
body .container {
  max-width: 724px;
}
h1,
h2,
h3,
h4,
h5,
footer {
  line-height: 1.1em;
  color: #222;
  padding: 0.6em 0;
}
pre {
  overflow: auto;
}
p {
  margin-bottom: 0.5em;
}
p.img-polaroid {
  text-align: center;
}
li {
  line-height: 1.4em;
}
ul.posts {
  font-family: "source-sans-pro", sans-serif;
  list-style-type: none;
  margin-left: 0px;
}
ul.posts a {
  font-size: 2em;
  line-height: 1.1em;
  display: block;
}
ul.posts small {
  color: #aaa;
}
ul.posts li {
  padding: 1em 0;
}
.alert {
  margin-top: 20px;
}
.big-icon {
  font-size: 1.5em;
}
.footer {
  background-color: #EAEAEA;
  border-top: 1px solid #DADADA;
  width: 100%;
  padding: 30px 0;
  margin-top: 30px;
  /*margin: 0 -20px;*/

}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
@media (max-width: 767px) {
  .footer {
    margin: 30px -20px 0 -20px;
    padding: 30px 20px;
  }
}
@media (max-width: 560px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
  }
  body {
    font-size: 1em;
  }
  body .lead {
    font-size: 1.1em;
    line-height: 1.4em;
  }
}
