/***
    With help from http://kaikkonendesign.fi/typography/
 */
/* Color palette: http://www.colourlovers.com/palette/149132/Blue_Hippopotamus */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "source-sans-pro", sans-serif;
}
body {
  line-height: 1.5em;
  color: #444444;
  font-family: "calluna", serif;
  font-size: 1.9em;
  background-color: #fafafa;
  padding-top: 60px;
  position: relative;
}
body .container {
  max-width: 724px;
  padding: 0;
}
body .popover-content {
  font-size: 0.9em;
  line-height: 1.2em;
}
nav.navbar-inverse {
  background-color: rgba(69, 72, 87, 0.8);
  color: #fafafa;
  border-bottom-color: #72818b;
}
nav.navbar-inverse .navbar-brand {
  color: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
footer {
  line-height: 1.1em;
  color: #222;
  padding: 0.6em 0;
}
pre {
  overflow: auto;
}
p {
  margin-bottom: 0.5em;
}
p.img-polaroid {
  text-align: center;
}
a {
  color: #4f57aa;
}
a:hover {
  color: #8f002e;
  background-color: #bee2e7;
  text-decoration: none;
}
li {
  line-height: 1.5em;
}
img {
  max-width: 100%;
  height: auto;
}
ul.posts {
  font-family: "source-sans-pro", sans-serif;
  list-style-type: none;
  margin-left: 0px;
}
ul.posts a {
  font-size: 2em;
  line-height: 1.1em;
  display: block;
}
ul.posts small {
  color: #454857;
}
ul.posts li {
  padding: 1em 0;
}
iframe.noborder {
  border: none;
}
.alert {
  margin-top: 20px;
}
.big-icon {
  font-size: 1.5em;
}
.footer {
  font-size: 0.8em;
  background-color: rgba(69, 72, 87, 0.8);
  color: #fafafa;
  border-top: 1px solid #72818b;
  width: 100%;
  padding: 1.5em 0;
  margin-top: 1.5em;
}
.footer a {
  color: #bee2e7;
}
.footer a:hover {
  color: #8f002e;
  background-color: #bee2e7;
}
blockquote p {
  line-height: 1.5em;
  font-size: 1em;
  color: #444455;
}
@media (max-width: 767px) {
  .footer {
    font-size: 1em;
    padding: 30px 0;
  }
  body {
    font-size: 1.5em;
  }
  body .lead {
    font-size: 1.1em;
    line-height: 1.4em;
  }
  body .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  h1 {
    font-size: 1.5em;
    margin-top: 0;
  }
  h2 {
    font-size: 1.3em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
  }
}
/* Pygments css from https://github.com/richleland/pygments-css/master/github.css */
.hll {
  background-color: #ffffcc;
}
.c {
  color: #999988;
  font-style: italic;
}
/* Comment */
.err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* Error */
.k {
  color: #000000;
  font-weight: bold;
}
/* Keyword */
.o {
  color: #000000;
  font-weight: bold;
}
/* Operator */
.cm {
  color: #999988;
  font-style: italic;
}
/* Comment.Multiline */
.cp {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* Comment.Preproc */
.c1 {
  color: #999988;
  font-style: italic;
}
/* Comment.Single */
.cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* Comment.Special */
.gd {
  color: #000000;
  background-color: #ffdddd;
}
/* Generic.Deleted */
.ge {
  color: #000000;
  font-style: italic;
}
/* Generic.Emph */
.gr {
  color: #aa0000;
}
/* Generic.Error */
.gh {
  color: #999999;
}
/* Generic.Heading */
.gi {
  color: #000000;
  background-color: #ddffdd;
}
/* Generic.Inserted */
.go {
  color: #888888;
}
/* Generic.Output */
.gp {
  color: #555555;
}
/* Generic.Prompt */
.gs {
  font-weight: bold;
}
/* Generic.Strong */
.gu {
  color: #aaaaaa;
}
/* Generic.Subheading */
.gt {
  color: #aa0000;
}
/* Generic.Traceback */
.kc {
  color: #000000;
  font-weight: bold;
}
/* Keyword.Constant */
.kd {
  color: #000000;
  font-weight: bold;
}
/* Keyword.Declaration */
.kn {
  color: #000000;
  font-weight: bold;
}
/* Keyword.Namespace */
.kp {
  color: #000000;
  font-weight: bold;
}
/* Keyword.Pseudo */
.kr {
  color: #000000;
  font-weight: bold;
}
/* Keyword.Reserved */
.kt {
  color: #445588;
  font-weight: bold;
}
/* Keyword.Type */
.m {
  color: #009999;
}
/* Literal.Number */
.s {
  color: #d01040;
}
/* Literal.String */
.na {
  color: #008080;
}
/* Name.Attribute */
.nb {
  color: #0086b3;
}
/* Name.Builtin */
.nc {
  color: #445588;
  font-weight: bold;
}
/* Name.Class */
.no {
  color: #008080;
}
/* Name.Constant */
.nd {
  color: #3c5d5d;
  font-weight: bold;
}
/* Name.Decorator */
.ni {
  color: #800080;
}
/* Name.Entity */
.ne {
  color: #990000;
  font-weight: bold;
}
/* Name.Exception */
.nf {
  color: #990000;
  font-weight: bold;
}
/* Name.Function */
.nl {
  color: #990000;
  font-weight: bold;
}
/* Name.Label */
.nn {
  color: #555555;
}
/* Name.Namespace */
.nt {
  color: #000080;
}
/* Name.Tag */
.nv {
  color: #008080;
}
/* Name.Variable */
.ow {
  color: #000000;
  font-weight: bold;
}
/* Operator.Word */
.w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.mf {
  color: #009999;
}
/* Literal.Number.Float */
.mh {
  color: #009999;
}
/* Literal.Number.Hex */
.mi {
  color: #009999;
}
/* Literal.Number.Integer */
.mo {
  color: #009999;
}
/* Literal.Number.Oct */
.sb {
  color: #d01040;
}
/* Literal.String.Backtick */
.sc {
  color: #d01040;
}
/* Literal.String.Char */
.sd {
  color: #d01040;
}
/* Literal.String.Doc */
.s2 {
  color: #d01040;
}
/* Literal.String.Double */
.se {
  color: #d01040;
}
/* Literal.String.Escape */
.sh {
  color: #d01040;
}
/* Literal.String.Heredoc */
.si {
  color: #d01040;
}
/* Literal.String.Interpol */
.sx {
  color: #d01040;
}
/* Literal.String.Other */
.sr {
  color: #009926;
}
/* Literal.String.Regex */
.s1 {
  color: #d01040;
}
/* Literal.String.Single */
.ss {
  color: #990073;
}
/* Literal.String.Symbol */
.bp {
  color: #999999;
}
/* Name.Builtin.Pseudo */
.vc {
  color: #008080;
}
/* Name.Variable.Class */
.vg {
  color: #008080;
}
/* Name.Variable.Global */
.vi {
  color: #008080;
}
/* Name.Variable.Instance */
.il {
  color: #009999;
}
/* Literal.Number.Integer.Long */
